body.active-added {
    overflow-y: hidden;
}

.added, .overlay-added {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.overlay-added{
    background: rgba(49,49,49,0.05);
}

.submission-added{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
}