body.active-submission {
    overflow-y: hidden;
}

.submission, .overlay {
    width: 100vw;
    height: 100h;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.overlay{
    background-color: blanchedalmond;
}

.submission-box{
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 5%;
}