body.active-submission {
    overflow-y: hidden;
}

.submission, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.overlay{
    background: rgba(49,49,49,0.8);
}

.submission-box{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
}