@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;1,500&family=Markazi+Text:wght@400..700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.h1 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #F4CE14;
}

.h2 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
  color :white
}

.text{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: white;
}

.BTN {
  background-color: #F4CE14;
  border-radius: 5px;
  font-size: 18px;
}

.BTN:hover {
  background-color: #495E57;
  color: white;
  border: 1px solid black
}

.section {
  margin-top: 50px;
}

.active {
  background-color: #495E57;
  color: white;
}


.Nav {
  margin-top: 9px;
  list-style: none;
  display: flex;
}

li a{
  text-decoration: none;
  padding: 10px;
  color: black;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.FormInput {
  display: grid;
  gap: 20px;
  justify-content: center;
}



.item-container.active {
  background-color: #495E57;
  color: white;
}
